* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  overflow: initial;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
}

#series {
  max-width: 250px;
}

.agoracare-viewer-container {
  width: 100%;
  height: calc(100vh - 200px);
}
